{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-hero">
    <div class="login-hero__text">
        <h1>Venture Gotchi</h1>
        <p class="login-subtitle">Aprendendo Empreendedorismo na Prática.</p>
        <p class="login-body">
            No <strong>VentureGotchi</strong>, através de um simulador prático e totalmente gamificado, você toma decisões reais,
            gerencia sua própria startup e aprende sobre o mundo dos negócios sem riscos.
            <span class="highlight">Da Ideia ao Sucesso!</span>
        </p>
    </div>

    <div class="login-hero__form">
        <form class="login-container" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2 class="login-title" style="margin-bottom: 25px;">Login</h2>
            {{ form.as_p }}

            <button class="btn-login" type="submit">Entrar</button>
        </form>
        
        <p class="signup-link" style="text-align: center; margin-top: 20px;">
            Não tem uma conta? <a href="{% url 'registro' %}" style="color: var(--primary); font-weight: 700;">Cadastre-se aqui</a>
        </p>
    </div>

</div>
{% endblock %}