{% extends 'base.html' %}
{% load custom_filters %}

{% block title%} Métricas {% endblock %}

{% block content %}
<h2> Métricas da Startup </h2>

<p>Empresa: {{ partida.nome_empresa }}</p>
<p>Turno Atual: {{ startup.turno_atual }}</p>
<p>Saldo em Caixa: {{ startup.saldo_caixa|moeda_br }}</p>
<p>Receita Mensal: {{ startup.receita_mensal|moeda_br }}</p>
<p>Valuation: {{ startup.valuation|moeda_br }}</p>
<p>Funcionários: {{ startup.funcionarios}}</p>

<a href="{% url 'dashboard' %}">Voltar</a>
{% endblock %}